{
  "settings": {
    "center": [-19.7109666, 149.6171446],
    "zoom": "7",
    "maxZoom": 17,
    "minZoom": 3,
    "zoomControl": false,
    "scrollwheel": false,
    "legends": true,
    "infoControl": false,
    "attributionControl": true
  },
  "defaultBaseMap": {
    "display_name": "Esri World Topo Map",
    "uri": "https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}",
    "params": {
      "minZoom": 3,
      "attribution": "Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community",
      "id": "",
      "accessToken": ""
    }
  }
}
