.c-indicator-legend {
  max-height: 80%;
  &__metadata {
    font-size: 0.75em;
  }
  &__layer-key {
    padding: 0.2em 2em 0.2em 0;
    position: relative;
  }
  &__layer-image {
    position: absolute;
    right: 0;
  }
  &__heading {
    margin-bottom: 0.25em;
    margin-top: 0;
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #666;
    font-weight: normal;
  }
  &__indicator-key {
    margin-top: 0.5em;
  }
}

.c-metadata-list {
  &__title {
    font-weight: bold;
    margin-top: 0.5em;
  }
  &__definition {
    margin-left: 0;
  }
}
