.c-indicator-navigator {
  max-width: 20em;
}

.c-indicator-navigator__heading {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
}

.c-indicator-navigator__option {
  padding: 0.2em 2em 0.2em 0.2em;
  position: relative;
}

.c-indicator-navigator__option.is-unavailable {
  color: #aaa;
}
.c-indicator-navigator__option:hover, .c-indicator-navigator__option:active {
  background-color: #eee;
}

.c-indicator-navigator__legend {
  margin-right: 0.5em;
}

.c-indicator-navigator__input{
  display: none;
}
.c-indicator-navigator__label::before {
  content: "⚪️"
}
input[type="checkbox"]:checked+.c-indicator-navigator__label {
  font-weight: bold;
}
input[type="checkbox"]:checked+.c-indicator-navigator__label::before {
  content: "🔘"
}
