.c-layer-navigator {
  position: absolute;
  right: 0;
  z-index: 999;
  background-color: #fff;
  padding: 1em;
  box-shadow: 2px 2px 10px rgba(20,20,20,0.2);
}

.c-layer-navigator__heading {
  margin-top: 0;
}

.c-layer-navigator__legend {
  height: 1em;
  margin-right: 0.5em;
}

.c-layer-navigator__input{
  display: none;
}
.c-layer-navigator__label::before {
  content: "⬜️"
}
input[type="checkbox"]:checked+.c-layer-navigator__label {
  font-weight: bold;
}
input[type="checkbox"]:checked+.c-layer-navigator__label::before {
  content: "✅"
}
