.c-layer-navigator {
  max-width: 20em;
}

.c-layer-navigator__heading {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
}

.c-layer-navigator__option {
  padding: 0.2em 2em 0.2em 0.2em;
  position: relative;
}
.c-layer-navigator__option:hover, .c-layer-navigator__option:active {
  background-color: #eee;
}

.c-layer-navigator__legend {
  height: 1.2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.c-layer-navigator__input{
  display: none;
}
.c-layer-navigator__label::before {
  content: "⬜️"
}
input[type="checkbox"]:checked+.c-layer-navigator__label {
  font-weight: bold;
}
input[type="checkbox"]:checked+.c-layer-navigator__label::before {
  content: "✅"
}
