.c-point-details {
  text-align: center;
}
.c-point-details .c-point-details__indicator {
  font-weight: bold;
  margin-top: 0.2em;
}
.c-point-details__value {
  font-size: 1.5em;
}
.c-point-details__latlng {
  font-size: 0.8em;
}
