.c-temporal-navigator {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
}

.c-temporal-navigator__message-box {
  position: absolute;
  top: -3em;
  left: 0;
  font-size: 0.75em;
}

.c-temporal-navigator__time-range, .c-temporal-navigator__intervals {
  font-size: 0.75em;
  margin-top: 3em;
  margin-bottom: 4em;
}


.c-temporal-navigator__intervals {
  margin-top: 4em;
}

.c-temporal-navigator__selector{
  background-color: #333;
  height: 3em;
  width: 1em;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: -1em;
  transition: none;
}

.c-time-range__point {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  transition-property: border-radius;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.c-time-range__hour {
  width: 100%;
  height: 100%;
  display: block;
  transition-property: background-color, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.is-available .c-time-range__hour:hover, .c-time-range__hour:active {
  background-color: #999;
}

.c-time-range__point::after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 0;
  height: 2em;
  border-left: 1px solid #eee;
}

.is-available .c-time-range__hour {
  background-color: #aaa;
}

.is-start .c-time-range__hour {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.is-end  .c-time-range__hour {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.c-time-range__point.is-highlight::after {
  height: 3em;
  bottom: -1em;
}

.c-time-range__point.is-new-day::after {
  height: 4em;
  bottom: -1.5em;
  border-color: #aaa;
}

.c-time-range__day {
  position: absolute;
  bottom: -4em;
  width: 24em;
  text-align: center;
}

.c-time-range__day--active {
  font-weight: bold;
}

.c-time-range__selected {
  position: absolute;
  top: -4em;
}
